  <div class="widget-wrap">
    <h3 class="widget-title">Links</h3>
    <div class="widget">
        <li><a href="http://www.perfectpan.org" title="PerfectPan's Blog">Perfect Pan's Blog</a></li>
    </div>
  </div>
